/* get out of here why are you here please leave */
a:link {
    color:antiquewhite;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-shadow: #ffffff;
}

a:visited {
    color: rgb(129, 166, 190)
}

h1 {
    border-bottom: #f0f0f0;
    color: antiquewhite
}

p {
    font-family:Arial, Helvetica, sans-serif;
    color:antiquewhite;
}

body {
    background-image: url("real\ black\ bapckground.jpg");
    background-size: cover;
    background-color: black;
    background-repeat: repeat;
}

a {
    font-family:Arial, Helvetica, sans-serif;
    color:antiquewhite;
    text-decoration: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:antiquewhite
}